@font-face {
  font-family: "Roboto-300";
  src: url("/fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-400";
  src: url("/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-700";
  src: url("/fonts/Roboto/Roboto-Bold.ttf");
}
:root {
  font-family: "Roboto-300";
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header header header header header header header header header header header header" "main main main main main main main main main main main main" "footer footer footer footer footer footer footer footer footer footer footer footer";
}

header {
  display: grid;
  grid-area: header;
  grid-template-columns: 70% 30%;
  height: 715px;
}
header .header_first-block {
  max-width: 100%;
  background-image: url("../images/RectangleLeftTop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f3f3f3;
}
header .header_second-block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 50px;
  background-color: #f3f3f3;
}
header .header_second-block .header_menu {
  display: inline-block;
  cursor: pointer;
}
header .header_second-block .header_menu div {
  width: 35px;
  height: 4px;
  background-color: #262f32;
  margin: 5px 0;
  transition: 0.4s ease-in-out;
}
header .header_second-block .change div:first-child {
  transform: translate(0, 10px) rotate(-45deg);
}
header .header_second-block .change div:nth-child(2) {
  opacity: 0;
}
header .header_second-block .change div:last-child {
  transform: translate(0, -10px) rotate(45deg);
}
header .header_second-block h1 {
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 58px;
  color: #262f32;
  white-space: pre-line;
}
header .header_second-block h1 b {
  font-family: "Roboto-700";
}
header .header_second-block p {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 28px;
  color: #262f32;
  font-family: "Roboto-400";
}

main {
  display: grid;
  grid-area: main;
  grid-template-columns: repeat(2, auto);
}
main .main_left-block {
  grid-row: 1/4;
}
main .main_left-block .main_left-block_drawing,
main .main_left-block .main_left-block_design,
main .main_left-block .main_left-block_develop {
  visibility: hidden;
}
main .main_left-block .main_left-block_drawing.slideLeft,
main .main_left-block .main_left-block_design.slideLeft,
main .main_left-block .main_left-block_develop.slideLeft {
  -webkit-animation: slideLeft 1s ease;
          animation: slideLeft 1s ease;
  visibility: visible;
}
@-webkit-keyframes slideLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
main .main_top-block .main_top-block_start,
main .main_top-block .main_bottom-block_verif, main .main_bottom-block .main_top-block_start,
main .main_bottom-block .main_bottom-block_verif {
  visibility: hidden;
}
main .main_top-block .main_top-block_start.slideRight,
main .main_top-block .main_bottom-block_verif.slideRight, main .main_bottom-block .main_top-block_start.slideRight,
main .main_bottom-block .main_bottom-block_verif.slideRight {
  -webkit-animation: slideRight 1s ease;
          animation: slideRight 1s ease;
  visibility: visible;
}
@-webkit-keyframes slideRight {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0%);
  }
}
main .main_left-block, main .main_top-block, main .main_bottom-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/RectangleMainLeft.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1e92af;
}
main .main_left-block div, main .main_top-block div, main .main_bottom-block div {
  width: 65%;
}
main .main_left-block div h2, main .main_top-block div h2, main .main_bottom-block div h2 {
  font-size: 45px;
  letter-spacing: 1px;
  line-height: 66px;
  color: #ffffff;
}
main .main_left-block div h2 b, main .main_top-block div h2 b, main .main_bottom-block div h2 b {
  font-family: "Roboto-700";
}
main .main_left-block div p, main .main_top-block div p, main .main_bottom-block div p {
  color: rgba(255, 255, 255, 0.878);
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 28px;
  font-family: "Roboto-400";
}
main .main_top-block, main .main_bottom-block {
  background-image: url("../images/RectangleMainTop.png");
  background-color: #fff4d2;
}
main .main_top-block div, main .main_bottom-block div {
  width: 70%;
}
main .main_top-block div h2, main .main_top-block div p, main .main_bottom-block div h2, main .main_bottom-block div p {
  color: #262f32;
}
main .main_top-block div p, main .main_bottom-block div p {
  margin-bottom: 60px;
}
main .main_top-block div p a, main .main_bottom-block div p a {
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-decoration: none;
  border: 1px solid #262f32;
  border-radius: 11px;
  padding: 10px 15px;
  color: #262f32;
  background-color: transparent;
  transition: all 0.15s ease-in-out;
}
main .main_top-block div p a:hover, main .main_bottom-block div p a:hover {
  background-color: rgba(38, 47, 50, 0.2);
}
main .main_bottom-block {
  background-image: url("../images/RectangleMainBottom.png");
  background-color: #162633;
}
main .main_bottom-block div h2 {
  color: #ffffff;
}
main .main_bottom-block div p {
  color: rgba(255, 255, 255, 0.702);
}
main .main_bottom-block div p a {
  border: 1px solid #ffffff;
  color: #ffffff;
  transition: all 0.15s ease-in-out;
}
main .main_bottom-block div p a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

footer {
  display: grid;
  grid-area: footer;
  grid-template-columns: 36% 64%;
}
footer .footer_left-block, footer .footer_right-block {
  display: flex;
  flex-direction: column;
  padding: 80px 0px 80px 80px;
  background-image: url("../images/RectangleFooterLeft.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1d5367;
}
footer .footer_left-block h2, footer .footer_left-block div > h2, footer .footer_left-block div > p, footer .footer_left-block p, footer .footer_right-block h2, footer .footer_right-block div > h2, footer .footer_right-block div > p, footer .footer_right-block p {
  font-size: 45px;
  letter-spacing: 1px;
  line-height: 66px;
  margin: 0px;
  text-transform: capitalize;
  color: #ffffff;
}
footer .footer_left-block h2 b, footer .footer_left-block div > h2 b, footer .footer_left-block div > p b, footer .footer_left-block p b, footer .footer_right-block h2 b, footer .footer_right-block div > h2 b, footer .footer_right-block div > p b, footer .footer_right-block p b {
  font-family: "Roboto-700";
}
footer .footer_left-block div img, footer .footer_right-block div img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}
footer .footer_left-block div p, footer .footer_right-block div p {
  font-size: 17px;
}
footer .footer_left-block h2, footer .footer_right-block h2 {
  margin-bottom: 15rem;
}
footer .footer_right-block {
  justify-content: space-between;
  background-image: url("../images/RectangleFooterRoght2.png"), url("../images/RectangleFooterRight.png");
  background-color: rgba(90, 102, 95, 0.502);
}
footer .footer_right-block h2 {
  margin: 0;
}
footer .footer_right-block form {
  display: flex;
  flex-direction: column;
}
footer .footer_right-block form input:first-child {
  margin-right: 7px;
}
footer .footer_right-block form input, footer .footer_right-block form textarea {
  width: 303px;
  border: 1px solid #ffffff;
  border-radius: 13px;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 32px;
  color: #ffffff;
  font-family: "Roboto-400";
  background-color: transparent;
  margin-bottom: 12px;
}
footer .footer_right-block form input::-webkit-input-placeholder, footer .footer_right-block form textarea::-webkit-input-placeholder {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 32px;
  color: #ffffff;
  font-family: "Roboto-400";
}
footer .footer_right-block form input:-moz-placeholder, footer .footer_right-block form textarea:-moz-placeholder {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 32px;
  color: #ffffff;
  font-family: "Roboto-400";
}
footer .footer_right-block form input::-moz-placeholder, footer .footer_right-block form textarea::-moz-placeholder {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 32px;
  color: #ffffff;
  font-family: "Roboto-400";
}
footer .footer_right-block form input:-ms-input-placeholder, footer .footer_right-block form textarea:-ms-input-placeholder {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 32px;
  color: #ffffff;
  font-family: "Roboto-400";
}
footer .footer_right-block form input[type=text] {
  padding: 19px 24px;
}
footer .footer_right-block form textarea {
  width: 617px;
  height: 159px;
  padding: 19px 0 0 24px;
}
footer .footer_right-block div div {
  display: flex;
}
footer .footer_right-block div div .footer_facebook, footer .footer_right-block div div .footer_gribbble, footer .footer_right-block div div .footer_twitter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  border-radius: 7px;
  background-image: url("../images/Rounded Rectangle 4.png");
  background-color: #345bb4;
  margin-right: 7px;
  cursor: pointer;
  transition: border-color 0.15s ease-in-out;
}
footer .footer_right-block div div .footer_facebook:hover, footer .footer_right-block div div .footer_gribbble:hover, footer .footer_right-block div div .footer_twitter:hover {
  border: 1px solid #ffffff;
}
footer .footer_right-block div div .footer_facebook svg, footer .footer_right-block div div .footer_gribbble svg, footer .footer_right-block div div .footer_twitter svg {
  margin-top: 6px;
  margin-left: 6px;
  cursor: pointer;
}
footer .footer_right-block div div .footer_gribbble {
  background-image: url("../images/RoundedGribbble.png");
  background-color: #00b4ff;
}
footer .footer_right-block div div .footer_twitter {
  background-image: url("../images/RoundedTwitter.png");
  background-color: #e64895;
}
footer .footer_right-block p {
  font-size: 17px;
}

@media screen and (max-width: 1120px) {
  header {
    grid-template-columns: 100%;
  }
  header .header_first-block {
    position: relative;
    background-color: #262f32;
  }
  header .header_second-block {
    position: absolute;
    height: inherit;
    justify-content: space-around;
    align-items: flex-end;
    text-align: end;
    padding-left: 10px;
    padding-right: 50px;
    background-color: transparent;
    -webkit-animation: appearance 2s ease-in-out;
            animation: appearance 2s ease-in-out;
  }
  header .header_second-block .header_menu div {
    background-color: #ffffff;
  }
  header .header_second-block h1, header .header_second-block p {
    color: #ffffff;
  }
  @-webkit-keyframes appearance {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0.25;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes appearance {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0.25;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }
  main {
    display: flex;
    flex-direction: column;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  footer .footer_left-block, footer .footer_right-block {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  footer .footer_left-block div div, footer .footer_right-block div div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  footer .footer_left-block div div a, footer .footer_right-block div div a {
    margin: 0px;
  }
  footer .footer_left-block {
    background-position: center;
  }
  footer .footer_right-block h2 {
    margin-bottom: 20px;
  }
  footer .footer_right-block form div {
    display: flex;
  }
  footer .footer_right-block form div input {
    width: 50%;
  }
  footer .footer_right-block form textarea {
    width: 100%;
  }
}
@media screen and (max-width: 920px) {
  header {
    max-height: 715px;
  }
  header .header_first-block {
    background-position: center;
    background-size: cover;
  }
}
@media screen and (max-width: 570px) {
  header {
    width: 100%;
    max-height: 290px;
  }
  header .header_second-block {
    height: initial;
    top: 40px;
    right: 0;
    padding-right: 20px;
  }
  header .header_second-block h1 {
    font-size: 22px;
    line-height: 40px;
  }
  header .header_second-block div + h1 + div {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */